.dropdown {
  // appearance: none;
  background-color: none;
  height: 60% !important;
  width: fit-content;
  width: 25%;
  height: 30px;
  padding: 10px 15px;
  border-radius: $radius;
  letter-spacing: 0.01em;
  margin-right: $small-margin;
}
.dropdown-width-max {
  // appearance: none;
  background-color: none;
  height: 100% !important;
  width: fit-content;
  width: 100%;
  height: 30px;
  padding: 10px 15px;
  border-radius: $radius;
  letter-spacing: 0.01em;
}
.disabled-option {
  color: #ccc;
}

.dropdown:active,
.dropdown:focus {
  border: none;
  outline: none;
}

.dropdown-icon {
  color: $c-green;
}
