// Setup - Keep these at the top
@import './variables';
@import './functions';
@import './fonts';

// Components
@import '../components/Navbar/navbar';
@import '../components/dataTable/dataTable';
@import '../components/cards/cryptoTokenBalance/cryptoTokenBalance';

// Routes
@import '../components/routes/SearchWalletBalance/searchWalletBalance';
