// Main Colours

$c-dark: #0b0a0a;
$c-green: #32ecb1;
$c-light-one: #f5fbef;
$c-light-two: #fafdf7;
$white: #fff;
$frosted: #68666645;

// Table colours

// ------ Gradients
// Usual Suspects
$gradient-one-one: #000000;
$gradient-one-two: #130f40;

// Margin
$small-margin: 10px;

// Shapes
$radius: 5px;
