// Navbar colours
$background: #212121;
$background-transparent: #21212195;
$link-grey: #999;
$white: #fff;
$highlight: #5fa2db;

// Table colours
$grey-transparent: rgba(255, 255, 255, 0.3);
$gradient-one: #101357;
$gradient-two: #86c5d8;

// Margin
$small-margin: 10px;

// Shapes
$radius: 5px;
