@import 'imports';

//  Global Settings

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'MyFont';
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  main {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  main::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

// Need to refactor potentialliy
.address-input-form {
  // background-color: red;
  height: 20vh;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-list {
  width: 100%;
  height: fit-content;
  // background-color: aqua;
  flex: 9;
}

// Buttons and Inputs
input[type='text'],
input[type='input'],
input[type='password'] {
  appearance: none;
  background-color: none;
  height: 60px;
  width: 60%;
  height: 30px;
  padding: 10px 15px;
  border-radius: $radius;
  letter-spacing: 0.01em;
}

input[type='text']:focus,
input[type='input']:focus,
input[type='password']:focus,
textarea:focus {
  // border: none;
  outline: none;
}
