@import 'imports';

//  Global Settings

html,
body {
  padding: 0;
  margin: 0;
  overflow: hidden;
  font-family: 'MyFont';
  @include gradient-two;
  font-family: 'Roboto', sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;

  main {
    width: 70%;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  main::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

h1 {
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}

h3 {
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
}
