// Need to refactor potentialliy
.address-input-form {
  // background-color: red;
  height: 70px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.token-list {
  width: 100%;
  height: fit-content;
  // background-color: aqua;
  flex: 9;
}

// Buttons and Inputs
input[type='text'],
input[type='input'],
input[type='password'] {
  appearance: none;
  outline: none;
  border: none;
  background-color: none;
  height: 60% !important;
  width: 60%;
  // padding: 10px 15px;
  border-radius: $radius;
  letter-spacing: 0.01em;
}

input[type='text']:focus,
input[type='input']:focus,
input[type='password']:focus,
textarea:focus {
  // border: none;
  outline: none;
}

.fa-search {
  width: 60px;
  height: 36px;
  color: $c-two;
}
