.multipleInputRow {
  width: 100%;
  height: fit-content;
  padding: 20px;
  display: grid;
  grid-template-columns: 2fr 4fr 1fr;
  // grid-template-columns: auto auto auto auto auto auto;
  /* flex-direction: col; */
  align-items: center;
  justify-content: center;
}

.plusMinus {
  color: $c-two;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.multi-dropdown {
  width: 100%;
  padding-right: $small-margin;
}

.multi-input {
  width: 85%;
  height: 100%;
}
.multi-input-field {
  width: 100%;
  height: 100%;
  margin-left: $small-margin;
  margin-right: $small-margin;
}
