table {
  width: 100%;
  table-layout: fixed;
}
.tbl-header {
  // background-color: $frosted;
  border: 2px solid $frosted;
}
.tbl-content {
  height: 50vh;
  overflow-x: auto;
  margin-top: 0px;
  border: 1px solid $frosted;
}
th {
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: $c-green;
  text-transform: uppercase;
}
td {
  padding: 15px;
  text-align: left;
  vertical-align: middle;
  font-weight: 300;
  font-size: 12px;
  color: $white;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px $c-green;
}
::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px $c-green;
}

// Filters
.filter-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.filter-text {
  color: $c-light-one;
}
